*{
    box-sizing: border-box;
}
.history {
    width: 600px;
    height: 10vh;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 600px;
}