* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
h1 {
    text-align: center;
}
h3 {
    margin: 0;
}
h2{
    text-align: center;
}
.main {
    width: 400px;
    height: 300px;
    background-color: aqua;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15%;
    position:absolute;
    top: 20vh;
    left: 37vw;
    align-items: center;
}
.op-main {
    display: flex;
    flex-direction: colum;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 40vh;
    left: 35vw;
}
.div-input {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inp {
    width: 80%;
    height: 50%;
}
.gen-http {
    width: 200px;
    height: 30px;
}
.a-http {
    width: 150px;
    height: 40px;
    font-size: 16px;
}
.a2-http {
    width: 200px;
    height: 60px;
    font-size: 16px;
}
.op-pos-http{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 20vh;
    left: 37vw;
}
.op-pos-httpText{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 10vh;
    left: 37vw;
}

.postDivInp {
    width: 300px;
    height: 25px;
}
.postInp, .postInp1 {
    width: 100%;
    height: 100%;
}
.postMain {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 250px;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postResult {
    margin-top: 20px;
    width: 200px;
    height: 20px;
}
.post-history{
    width: 500px;
    height: 1000px;
    position: absolute;
    top: 250px;
    right: 15%;
}
.in-post-history{
    width: 500px;
    height: 90%;
}
.historyBlock{
    width: 100%;
    height: 25px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}
